<div class="container">
    <h2 class="page-header">Add Contacts</h2>
    <form (ngSubmit)="addContact(user.value)" [formGroup]="user">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" formControlName="first_name" />
                </div>
                <p *ngIf="!user.get('first_name').valid && user.get('first_name').touched" class="error">First Name is required !!!</p>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" formControlName="last_name" />
                </div>
                <p *ngIf="!user.get('last_name').valid && user.get('last_name').touched" class="error">Last Name is required !!!</p>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Phone</label>
                    <input type="text" class="form-control" formControlName="phone" />
                </div>
                <p *ngIf="!user.get('phone').valid && user.get('phone').touched" class="error">Phone number is required !!!</p>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <input type="submit" [disabled]="!user.valid" class="btn btn-success btn-sm" value="Add" />
                </div>
            </div>

            <p>{{user.value | json}}</p>
            <div class="col-sm-12" formArrayName="hobbies">
                <h3>Add Hobbies</h3>
                <div class="form-group">
                    <input type="button" class="btn btn-primary btn-sm" value="Add Hobby" (click)="hobby()" />
                </div>
                <div class="form-group" *ngFor="let hobby of user.get('hobbies').controls; let i = index">
                    <input type="text" class="form-control" [formControlName]="i" />
                </div>
            </div>
        </div>
    </form>
    <!-- <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="twoway" />
                <div>{{twoway}}</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <select class="form-control" [ngModel]='defaultSelect'>
        <option value="one">One</option>
        <option value="two">Two</option>
      </select>
            </div>
        </div>
    </div> -->
    <hr>
    <div class="row form-group" *ngFor="let contact of myContacts">

        <div class="col-sm-3">
            {{contact.first_name | short:5}}
        </div>
        <div class="col-sm-3">
            {{contact.last_name}}
        </div>
        <div class="col-sm-3">
            {{contact.phone}}
        </div>
        <div class="col-sm-3">
            <input type="button" class="btn btn-danger btn-sm" (click)="deleteContact(contact._id)" value="Delete" />
        </div>
    </div>
</div>